#wrapper {
  width: 100%;
  height: 100%;
}

#paylike_box {
  margin: 0px auto;
  height: 300px;
  width: 600px;
  background-color: 
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
html {
  background: #0f2f35;
  background: #0f2f35 linear-gradient(160deg, #143632 0%, #0f2f35 33%, #142330 66%, #1d1f22 100%) 0 0/100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  width: 100%;
  max-width: 22em;
  margin: 0;
  padding: 2em;
  line-height: 1.3;
  text-align: center
}

* {
  margin: 0;
  box-sizing: border-box
}

* + * {
  /* margin-top: 1em; */
}

p * + * {
  margin: 0
}

p {
  line-height: 1.5
}

label {
  display: block;
  padding: 0;
  font-size: .55em;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: left
}

input {
  width: 100%;
  max-width: 100%;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: left
}

label + input {
  margin-top: .2em
}

p.amount {
  font-size: 3em;
  line-height: 1
}

p.reference {
  color: rgba(255, 255, 255, 0.5)
}

button,
a.button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .9em 2em;
  background: #2f62a3;
  background: #2f62a3 linear-gradient(170deg, #3794ae 0%, #2f62a3 100%) 0 0/100% 100% no-repeat;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form:invalid button,
form:invalid a.button {
  cursor: default;
  color: rgba(0, 0, 0, 0.3)
}

button span.amount,
a.button span.amount {
  font-weight: 300
}

main.order button,
main.receipt button,
main.default button,
main.order a.button,
main.receipt a.button,
main.default a.button {
  margin: 3em auto 0 auto
}

main.receipt {
  position: relative;
}

main.receipt p.paid {
  position: absolute;
  top: -.5em;
  right: -1em;
  margin: 0;
  padding: .25em 1.25em;
  border: 3px solid rgba(198, 58, 58, 0.75);
  border-radius: 3px;
  font-size: 24px;
  font-weight: 600;
  color: rgba(198, 58, 58, 0.75);
  text-transform: uppercase;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotateZ(15deg);
  transform: rotateZ(15deg)
}

form {
  background: #fff;
  border-radius: 3px;
}

form > * {
  margin: 0
}

form button {
  width: 100%;
  padding: 1.25em 2em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form button > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

form button > div > * {
  margin: 0
}

form select {
  cursor: pointer;
  width: 3em
}

form div.reference,
form div.amount {
  padding: 1em 2em
}

form div.amount + div.reference {
  border-top: 1px solid #d8d9da
}

form div.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 1.5em;
}

form div.amount > * {
  /* margin: 0 */
}

form div.amount > input, .topay {
  margin: 0 0 -.2em 0;
  font-size: 3em;
  text-align: right;
  padding: 0
}

.topay {
  color: #757575;
}

.currency {
  color: black;
}

.paylike_brand {
  text-align: center;
}

.paylike_brand > img {
  max-width: 140px;
  padding: 1rem 0px;
}

.acceptance {
  display: flex;
}

.paycard {
  flex-grow:1;
  margin: 1rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  display: flex;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  align-items: center;
  justify-content: center;
  transition: .4s ease all;
}

.paycard > img {
  max-width: 100%;
}

.store_name {
  color: #666;
  text-align: left;
}

.return {
  font-size: .81rem;
  text-align: left;
}

.return > a {
  color: #ccc;
  text-decoration: none;
}