<?xml version="1.0" encoding="UTF-8"?>
<installer version="1.0">
  <info>
	<uid>blueorange589@gmail.com</uid>
	<type>plugins</type>
	<mobile_optimized>true</mobile_optimized>
	<name><![CDATA[Paylike]]></name>
	<description><![CDATA[Paylike Popup Payments]]></description>
	<version>1.1.2</version>
	<minVersion>6.0.0</minVersion>
	<maxVersion>6.*.*</maxVersion>
	<creator><![CDATA[Ozgur Arslan]]></creator>
	<homepage><![CDATA[http://www.cubecart.com]]></homepage>
	<block>false</block>
  </info>

  <hooks>
    <hook trigger="class.cubecart.basket" enabled="1"><![CDATA[Paylike JS Params]]></hook>
	<hook trigger="class.cubecart.display_gateways" enabled="1"><![CDATA[Display Paylike Gateway on Checkout]]></hook>
    <hook trigger="class.cubecart.construct.callback.gateway" enabled="1"><![CDATA[Callback Handler]]></hook>
    <hook trigger="admin.order.index.post_process" enabled="1"><![CDATA[Capture Payment when Order Status is Complete]]></hook>
    <hook trigger="admin.order.index.display" enabled="1"><![CDATA[Refund/Void Button for Orders]]></hook>
    <hook trigger="admin.tabs" enabled="1"><![CDATA[Refund/Void Tab for Paylike Orders]]></hook>
  </hooks>
</installer>
